HIPSClient.Hips/Connected Services/HipsDatabaseLoaderService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            The user is included as a parameter on all calls to HIPS in order to assert
            the authorisation role under which any calls to the HI Service or PCEHR System
            should take place.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorisedEmployeeUserId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the Authorised Employee user ID.
            This is used for B2B requests authorised in name of the Authorised Employee for the hospital.
            &lt;/summary&gt;
            &lt;value&gt;
            The authorised employee.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the type of the locally-issued user ID, such as the Active Directory domain.
            This is part of the qualified for the HI User role.
            &lt;/summary&gt;
            &lt;value&gt;
            The domain.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HpiI" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the HPI-I of the person logged in. This is the primary identifier for the Provider Individual role.
            &lt;/summary&gt;
            &lt;value&gt;
            The HPI-I.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsContractedServiceProvider" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets a flag indicating whether the caller is a contracted service provider.
            &lt;/summary&gt;
            &lt;value&gt;
            Whether the caller is a contracted service provider.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the locally-issued user ID, such as the Active Directory account.
            This is the primary identifier for the HI User role.
            &lt;/summary&gt;
            &lt;value&gt;
            The login.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the name of the person logged in, or the name of the Responsible Officer. This is not sent to Medicare but will be audited.
            &lt;/summary&gt;
            &lt;value&gt;
            The name.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Role" type="tns:UserRole">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets or sets the authorisation role for the B2B web service invocation.
            &lt;/summary&gt;
            &lt;value&gt;
            The role.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:simpleType name="UserRole">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            The role of the user
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProviderIndividual">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Individual Healthcare Provider identified by an HPI-I
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InteractiveUser">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Interactive access by clinician or patient administration clerk etc.
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthorisedEmployee">
        <xs:annotation>
          <xs:documentation>&lt;summary&gt;
            Authorised employee responsible for non-interactive access by batch or background processes
            &lt;/summary&gt;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
</xs:schema>