HIPSClient.Hips/Connected Services/HipsDatabaseLoaderService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.HIPS/Services/2012/01" elementFormDefault="qualified" targetNamespace="http://schemas.HIPS/Services/2012/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52500/DatabaseLoaderService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" />
  <xs:element name="NotifyPasEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageForm" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q1:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPasEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotifyPasEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPathEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageForm" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q2:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPathEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotifyPathEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>