HIPSClient.Hips/Connected Services/HipsPCEHRService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.HIPS/Services/2012/01" elementFormDefault="qualified" targetNamespace="http://schemas.HIPS/Services/2012/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Nehta.VendorLibrary.PCEHR" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/HIPS.ConsentSchemas" />
  <xs:element name="GainAccessEmergency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q1:PatientIdentifierBase" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q2:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GainAccessEmergencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GainAccessEmergencyResult" nillable="true" type="q3:GainPcehrAccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GainAccessWithCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q4:PatientIdentifierBase" />
        <xs:element minOccurs="0" name="AccessCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q5:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GainAccessWithCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GainAccessWithCodeResult" nillable="true" type="q6:GainPcehrAccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GainAccessWithOutCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q7:PatientIdentifierBase" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q8:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GainAccessWithOutCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GainAccessWithOutCodeResult" nillable="true" type="q9:GainPcehrAccessResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeHistoryView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q10:PatientIdentifierBase" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q11:UserDetails" />
        <xs:element minOccurs="0" name="documentUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeHistoryViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetChangeHistoryViewResult" nillable="true" type="q12:ChangeHistoryViewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q13:PatientIdentifierBase" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q14:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListResult" nillable="true" type="q15:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListFilterDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q16:PatientIdentifierBase" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q17:UserDetails" />
        <xs:element minOccurs="0" name="creationTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="creationTimeEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListFilterDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListFilterDatesResult" nillable="true" type="q18:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListFilterStatusAndDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q19:PatientIdentifierBase" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q20:UserDetails" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Nehta.VendorLibrary.PCEHR" minOccurs="0" name="documentStatus" nillable="true" type="q21:ArrayOfDocumentStatus" />
        <xs:element minOccurs="0" name="creationTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="creationTimeEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListFilterStatusAndDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListFilterStatusAndDatesResult" nillable="true" type="q22:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListWithQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q23:PatientIdentifierBase" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q24:UserDetails" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="docQuery" nillable="true" type="q25:DocumentQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListWithQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListWithQueryResult" nillable="true" type="q26:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q27:PatientIdentifierBase" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q28:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListActiveResult" nillable="true" type="q29:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListActiveFilterDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q30:PatientIdentifierBase" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q31:UserDetails" />
        <xs:element minOccurs="0" name="creationTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="creationTimeEnd" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeStart" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serviceTimeEnd" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentListActiveFilterDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetDocumentListActiveFilterDatesResult" nillable="true" type="q32:DocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividualOperationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcehrMessageQueueId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q33:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndividualOperationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetIndividualOperationStatusResult" nillable="true" type="q34:IndividualOperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUploadedDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q35:UserDetails" />
        <xs:element minOccurs="0" name="sourceSystemSetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceSystemDocumentId" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q36:PatientIdentifierBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUploadedDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetLocalUploadedDocumentResult" nillable="true" type="q37:LocalClinicalDocumentResponseOfPatientIdentifierBasea_PcM515l" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q38:PatientIdentifierBase" />
        <xs:element minOccurs="0" name="admissionDate" type="xs:dateTime" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q39:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetOperationStatusResult" nillable="true" type="q40:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedOperationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateTimeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTimeTo" type="xs:dateTime" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="queueOperation" nillable="true" type="q41:ArrayOfQueueOperation" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="queueStatus" nillable="true" type="q42:ArrayOfQueueStatus" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q43:ArrayOfPatientIdentifierBase" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q44:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedOperationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetQueuedOperationListResult" nillable="true" type="q45:QueuedOperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q46:PatientIdentifierBase" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q47:UserDetails" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="request" nillable="true" type="q48:ViewRequestBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="GetViewResult" nillable="true" type="q49:ViewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPcehrAdvertised">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q50:PatientIdentifierBase" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q51:UserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPcehrAdvertisedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="IsPcehrAdvertisedResult" nillable="true" type="q52:DoesPcehrExistResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUploadedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q53:UserDetails" />
        <xs:element minOccurs="0" name="sourceSystemSetId" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q54:PatientIdentifierBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUploadedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="ListUploadedDocumentsResult" nillable="true" type="q55:LocalClinicalDocumentListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPatientParticipationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q56:UserDetails" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q57:PatientIdentifierBase" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="disclosureFacility" nillable="true" type="q58:HospitalIdentifier" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="forceRefresh" type="q59:ForceRefreshOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPatientParticipationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/HIPS.ConsentSchemas" minOccurs="0" name="RefreshPatientParticipationStatusResult" nillable="true" type="q60:PatientParticipationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q61:PatientIdentifierBase" />
        <xs:element minOccurs="0" name="admissionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="documentSetId" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="reason" type="q62:RemovalReason" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q63:UserDetails" />
        <xs:element minOccurs="0" name="auditInformation" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="RemoveResult" nillable="true" type="q64:HipsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q65:PatientIdentifierBase" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q66:UserDetails" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="request" nillable="true" type="q67:DocumentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="RetrieveDocumentResult" nillable="true" type="q68:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOrSupersedeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cdaDocument" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" minOccurs="0" name="patientIdentifier" nillable="true" type="q69:PatientIdentifierBase" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="user" nillable="true" type="q70:UserDetails" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="attachments" nillable="true" type="q71:ArrayOfAttachment" />
        <xs:element minOccurs="0" name="admissionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="documentFormatCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOrSupersedeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" minOccurs="0" name="UploadOrSupersedeDocumentResult" nillable="true" type="q72:HipsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>