HIPSClient.Hips/Connected Services/HipsPCEHRService/item1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nehta.hips/2018/05/pcehr" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nehta.hips/2018/05/pcehr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nehta.hips/2018/05/pcehr/Imports">
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd14" namespace="http://nehta.hips/2018/05/pcehr" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd10" namespace="http://nehta.hips/2014/03" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd0" namespace="http://schemas.HIPS/Services/2012/01" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas.PatientIdentifier" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HIPS.CommonSchemas" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Nehta.VendorLibrary.PCEHR" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/HIPS.ConsentSchemas" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd9" namespace="http://nehta.hips/2014/03/pcehr" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/HIPS.ServiceContracts.Common" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/HIPS.ServiceContracts.Common.DTO" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/HIPS.ServiceContracts.Common.DTO.Views" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" />
      <xsd:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetQueuedOperationRequest">
    <wsdl:part name="parameters" element="tns:GetQueuedOperationRequest" />
  </wsdl:message>
  <wsdl:message name="GetQueuedOperationResponse">
    <wsdl:part name="parameters" element="tns:GetQueuedOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperation_InvalidRequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://nehta.hips/2014/03" name="detail" element="q1:InvalidRequestFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperation_ServiceOperationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://nehta.hips/2014/03" name="detail" element="q2:ServiceOperationFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperation_InvalidUserFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://nehta.hips/2014/03" name="detail" element="q3:InvalidUserFault" />
  </wsdl:message>
  <wsdl:message name="GetQueuedOperationsRequest">
    <wsdl:part name="parameters" element="tns:GetQueuedOperationsRequest" />
  </wsdl:message>
  <wsdl:message name="GetQueuedOperationsResponse">
    <wsdl:part name="parameters" element="tns:GetQueuedOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperations_InvalidRequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://nehta.hips/2014/03" name="detail" element="q4:InvalidRequestFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperations_ServiceOperationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://nehta.hips/2014/03" name="detail" element="q5:ServiceOperationFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_GetQueuedOperations_InvalidUserFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://nehta.hips/2014/03" name="detail" element="q6:InvalidUserFault" />
  </wsdl:message>
  <wsdl:message name="SearchQueuedOperationsRequest">
    <wsdl:part name="parameters" element="tns:SearchQueuedOperationsRequest" />
  </wsdl:message>
  <wsdl:message name="SearchQueuedOperationsResponse">
    <wsdl:part name="parameters" element="tns:SearchQueuedOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_SearchQueuedOperations_InvalidRequestFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://nehta.hips/2014/03" name="detail" element="q7:InvalidRequestFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_SearchQueuedOperations_ServiceOperationFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://nehta.hips/2014/03" name="detail" element="q8:ServiceOperationFault" />
  </wsdl:message>
  <wsdl:message name="IPcehrServiceV3_SearchQueuedOperations_InvalidUserFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://nehta.hips/2014/03" name="detail" element="q9:InvalidUserFault" />
  </wsdl:message>
  <wsdl:portType name="IPcehrServiceV3">
    <wsdl:documentation>&lt;summary&gt;
            Web service interface for the PCEHR service version 3.
            Contains methods which support querying the status of queued operations against the PCEHR.
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="GetQueuedOperation">
      <wsdl:documentation>&lt;summary&gt;
            Retrieves a specific queued operation using its unique identifier.
            &lt;/summary&gt;
            &lt;param name="request"&gt;GetQueuedOperationRequest request.&lt;/param&gt;
            &lt;returns&gt;Response containing the queued operation.&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperation" name="GetQueuedOperationRequest" message="tns:GetQueuedOperationRequest" />
      <wsdl:output wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationResponse" name="GetQueuedOperationResponse" message="tns:GetQueuedOperationResponse" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationInvalidRequestFaultFault" name="InvalidRequestFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperation_InvalidRequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationServiceOperationFaultFault" name="ServiceOperationFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperation_ServiceOperationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationInvalidUserFaultFault" name="InvalidUserFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperation_InvalidUserFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueuedOperations">
      <wsdl:documentation>&lt;summary&gt;
            Retrieves a list of queued operations for a specified patient and episode.
            &lt;/summary&gt;
            &lt;param name="request"&gt;GetQueuedOperationsRequest request.&lt;/param&gt;
            &lt;returns&gt;Response containing the queued operations.&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperations" name="GetQueuedOperationsRequest" message="tns:GetQueuedOperationsRequest" />
      <wsdl:output wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationsResponse" name="GetQueuedOperationsResponse" message="tns:GetQueuedOperationsResponse" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationsInvalidRequestFaultFault" name="InvalidRequestFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperations_InvalidRequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationsServiceOperationFaultFault" name="ServiceOperationFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperations_ServiceOperationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/GetQueuedOperationsInvalidUserFaultFault" name="InvalidUserFaultFault" message="tns:IPcehrServiceV3_GetQueuedOperations_InvalidUserFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchQueuedOperations">
      <wsdl:documentation>&lt;summary&gt;
            Retrieves a list of queued operations matching the specified criteria.
            &lt;/summary&gt;
            &lt;param name="request"&gt;SearchQueuedOperationsRequest request.&lt;/param&gt;
            &lt;returns&gt;Response containing the queued operations.&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/SearchQueuedOperations" name="SearchQueuedOperationsRequest" message="tns:SearchQueuedOperationsRequest" />
      <wsdl:output wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/SearchQueuedOperationsResponse" name="SearchQueuedOperationsResponse" message="tns:SearchQueuedOperationsResponse" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/SearchQueuedOperationsInvalidRequestFaultFault" name="InvalidRequestFaultFault" message="tns:IPcehrServiceV3_SearchQueuedOperations_InvalidRequestFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/SearchQueuedOperationsServiceOperationFaultFault" name="ServiceOperationFaultFault" message="tns:IPcehrServiceV3_SearchQueuedOperations_ServiceOperationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://nehta.hips/2018/05/pcehr/IPcehrServiceV3/SearchQueuedOperationsInvalidUserFaultFault" name="InvalidUserFaultFault" message="tns:IPcehrServiceV3_SearchQueuedOperations_InvalidUserFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>