HIPSClient.Hips/Connected Services/HipsPCEHRService/item16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nehta.hips/2018/05/pcehr" elementFormDefault="qualified" targetNamespace="http://nehta.hips/2018/05/pcehr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd10" namespace="http://nehta.hips/2014/03" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas" />
  <xs:element name="GetQueuedOperationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageIdentifier" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://nehta.hips/2014/03" minOccurs="0" name="User" nillable="true" type="q1:UserBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://nehta.hips/2014/03" minOccurs="0" name="Status" type="q2:ResponseStatus" />
        <xs:element xmlns:q3="http://nehta.hips/2014/03" minOccurs="0" name="Messages" nillable="true" type="q3:ArrayOfMessage" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="Data" nillable="true" type="q4:QueuedOperationQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedOperationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://nehta.hips/2014/03" minOccurs="0" name="PatientIdentifier" nillable="true" type="q5:PatientIdentifierBase" />
        <xs:element xmlns:q6="http://nehta.hips/2014/03" minOccurs="0" name="User" nillable="true" type="q6:UserBase" />
        <xs:element minOccurs="0" name="AdmissionDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueuedOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://nehta.hips/2014/03" minOccurs="0" name="Status" type="q7:ResponseStatus" />
        <xs:element xmlns:q8="http://nehta.hips/2014/03" minOccurs="0" name="Messages" nillable="true" type="q8:ArrayOfMessage" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HIPS.PcehrSchemas" minOccurs="0" name="Data" nillable="true" type="q9:QueuedOperationsQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchQueuedOperationsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateTimeFrom" type="xs:dateTime" />
        <xs:element xmlns:q10="http://nehta.hips/2014/03" minOccurs="0" name="User" nillable="true" type="q10:UserBase" />
        <xs:element minOccurs="0" name="DateTimeTo" type="xs:dateTime" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="QueueOperations" nillable="true" type="q11:ArrayOfQueueOperation" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="QueueStates" nillable="true" type="q12:ArrayOfMessageQueueState" />
        <xs:element xmlns:q13="http://nehta.hips/2014/03" minOccurs="0" name="PatientIdentifiers" nillable="true" type="q13:ArrayOfPatientIdentifierBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchQueuedOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://nehta.hips/2014/03" minOccurs="0" name="Status" type="q14:ResponseStatus" />
        <xs:element xmlns:q15="http://nehta.hips/2014/03" minOccurs="0" name="Messages" nillable="true" type="q15:ArrayOfMessage" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas" minOccurs="0" name="Data" nillable="true" type="q16:ArrayOfQueuedPcehrOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>