HIPSClient.Hips/Connected Services/HipsPCEHRService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseSchema">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HipsObservableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the Date and Time that this record was created.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DateModified" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the Date and Time that this record was last modified.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the primary key of this record.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserCreated" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the user who created this record.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UserModified" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the user who last modified this record
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseSchema" nillable="true" type="tns:BaseSchema" />
  <xs:complexType name="HipsObservableObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDirty" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo />
          <xs:documentation>&lt;summary&gt;
            Gets a value indicating whether this instance is dirty, i.e. it has been changed and needs updating.
            &lt;/summary&gt;
            &lt;value&gt;
              &lt;c&gt;true&lt;/c&gt; if this instance is dirty; otherwise, &lt;c&gt;false&lt;/c&gt;.
            &lt;/value&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HipsObservableObject" nillable="true" type="tns:HipsObservableObject" />
</xs:schema>