HIPSClient.Hips/Connected Services/HipsPCEHRService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" />
  <xs:import schemaLocation="http://localhost:52500/PCEHRService/?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClinicalDocument">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            This class represents a Clinical Document
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" base="q1:BaseSchema">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClinicalDocumentId" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the Clinical Document id.
            &lt;/summary&gt;
            &lt;value&gt;
            The Clinical Document id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClinicalDocumentStatusId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
             Gets or sets the clinical document status ID.
            
             See &lt;see cref="T:Enumerators.ClinicalDocumentStatus"&gt;the ClinicalDocumentStatus enumerator&lt;/see&gt; for expected values.
             &lt;/summary&gt;
             &lt;value&gt;
             The clinical document status ID.
             &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type code.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type description.
            &lt;/summary&gt;
            &lt;value&gt;
            The document type description.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type id.
            &lt;/summary&gt;
            &lt;value&gt;
            The document type id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EpisodeId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the episode id that this document is related to.
            &lt;/summary&gt;
            &lt;value&gt;
            The episode id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RemovalReasonDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the removal reason description.
            &lt;/summary&gt;
            &lt;value&gt;
            The removal reason description.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RemovalReasonId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the removal reason id.
            &lt;/summary&gt;
            &lt;value&gt;
            The removal reason id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RemovedDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the removed date.
            &lt;/summary&gt;
            &lt;value&gt;
            The removed date.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SourceSystemSetId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the source system set id.
            &lt;/summary&gt;
            &lt;value&gt;
            The source system set id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClinicalDocument" nillable="true" type="tns:ClinicalDocument" />
  <xs:complexType name="QueuedPcehrOperation">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            Represents a queued PCEHR operation.
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MessageQueue">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdmissionDateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the admission date and time.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CDAPackageSize" type="xs:long">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the CDA package size.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentFormatCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document format code.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentFormatDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document format description.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type code.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type description.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DocumentTypeId" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the document type ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EpisodeId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the episode ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FacilityId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the facility ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="FacilityName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the facility name.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Ihi" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the IHI.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageQueueLeaseStateCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the lease state code.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageQueueLeaseStateDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the lease state description.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageQueueStateCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the message state code.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageQueueStateDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the message state description.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PatientId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the patient ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SOAP request.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RequestSize" type="xs:long">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the request size.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SOAP response.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SourceSystemDocumentId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SourceSystemDocument ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SourceSystemSetId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SourceSystemSet ID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SystemEventLogID" nillable="true" type="xs:long">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SystemEventLogID.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SystemEventLogLevelCode" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SystemEventLogLevelCode.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SystemEventLogLevelDescription" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SystemEventLogLevelDescription.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SystemEventLogMessage" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the SystemEventLogMessage.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueuedPcehrOperation" nillable="true" type="tns:QueuedPcehrOperation" />
  <xs:complexType name="MessageQueue">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" base="q2:BaseSchema">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchIdentifier" nillable="true" type="ser:guid">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the unique identifier of a batch within which a set of queued messages has been acquired for processing.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BatchOwner" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the identifier of the owner of the batch (e.g. HIPS background processing consumer identifier).
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="BatchTimestamp" nillable="true" type="q3:DateTimeOffset">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the timestamp of the batch within which a set of queued messages has been acquired for processing.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LeaseCount" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the number of sequential leases that have been obtained on this message.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LeaseExpiry" nillable="true" type="q4:DateTimeOffset">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the date and time at which the current message lease will expire.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LeaseIdentifier" nillable="true" type="ser:guid">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the unique identifier of a lease obtained on a specific message for processing.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageContent" nillable="true" type="xs:base64Binary">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the BLOB content of the queued message itself.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageQueueID" nillable="true" type="xs:long">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the unique identifier of the queued message.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="MessageQueueLeaseStateID" type="q5:MessageQueueLeaseState">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the unique identifier of the associated MessageQueueLeaseState record. State of the current message lease.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HIPS.PcehrDataStore.Schemas.Enumerators" minOccurs="0" name="MessageQueueStateID" type="q6:MessageQueueState">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the unique identifier of the associated MessageQueueState record. State of the message in the message queue.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the identifier for the type of queued message.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Metadata" nillable="true" type="q7:ArrayOfKeyValueOfstringstring">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the set of metadata properties associated with the message.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OrderKey" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the key value used for ordering messages within their partition.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the key value used for partitioning messages.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="QueueName" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the name of the logical queue into which the message has been queued.
            &lt;/summary&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessageQueue" nillable="true" type="tns:MessageQueue" />
  <xs:complexType name="ArrayOfQueuedPcehrOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueuedPcehrOperation" nillable="true" type="tns:QueuedPcehrOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueuedPcehrOperation" nillable="true" type="tns:ArrayOfQueuedPcehrOperation" />
  <xs:complexType name="ArrayOfClinicalDocumentVersion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicalDocumentVersion" nillable="true" type="tns:ClinicalDocumentVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicalDocumentVersion" nillable="true" type="tns:ArrayOfClinicalDocumentVersion" />
  <xs:complexType name="ClinicalDocumentVersion">
    <xs:annotation>
      <xs:appinfo />
      <xs:documentation>&lt;summary&gt;
            This class represents an individual versioned Clinical Document
            &lt;/summary&gt;</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/HIPS.Base.Schemas" base="q8:BaseSchema">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClinicalDocumentId" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the clinical document id that this version is related to.
            &lt;/summary&gt;
            &lt;value&gt;
            The clinical document id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ClinicalDocumentVersionId" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the clinical document version id.
            &lt;/summary&gt;
            &lt;value&gt;
            The clinical document version id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Package" nillable="true" type="xs:base64Binary">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the package - This is the zipped clinical document and all it's attachments.
            &lt;/summary&gt;
            &lt;value&gt;
            The package.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SourceSystemDocumentId" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the source system document id.
            &lt;/summary&gt;
            &lt;value&gt;
            The source system document id.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SupersededDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the date that this document was superseded.
            &lt;/summary&gt;
            &lt;value&gt;
            The superseded date.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UploadedDate" nillable="true" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo />
              <xs:documentation>&lt;summary&gt;
            Gets or sets the date/time the document was uploaded to the PCEHR.
            &lt;/summary&gt;
            &lt;value&gt;
            The uploaded date.
            &lt;/value&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClinicalDocumentVersion" nillable="true" type="tns:ClinicalDocumentVersion" />
  <xs:complexType name="ArrayOfClinicalDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicalDocument" nillable="true" type="tns:ClinicalDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicalDocument" nillable="true" type="tns:ArrayOfClinicalDocument" />
</xs:schema>