HIPSClient.Hips/Connected Services/HipsPCEHRService/PCEHRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.HIPS/Services/2012/01" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://nehta.hips/2014/03/pcehr" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PCEHRService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPCEHRService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IPCEHRService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPcehrServiceV2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IPcehrServiceV2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.HIPS/Services/2012/01" location="http://localhost:52500/PCEHRService/?wsdl=wsdl0" />
  <wsdl:import namespace="http://nehta.hips/2014/03/pcehr" location="http://localhost:52500/PCEHRService/?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IPCEHRService" type="i0:IPCEHRService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPCEHRService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GainAccessEmergency">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessEmergency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GainAccessWithCode">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessWithCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GainAccessWithOutCode">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessWithOutCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeHistoryView">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetChangeHistoryView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentList">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListFilterDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListFilterDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListFilterStatusAndDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListFilterStatusAndDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListWithQuery">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListWithQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListActive">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListActiveFilterDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListActiveFilterDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualOperationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetIndividualOperationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUploadedDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetLocalUploadedDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetOperationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueuedOperationList">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetQueuedOperationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetView">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPcehrAdvertised">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/IsPcehrAdvertised" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUploadedDocuments">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/ListUploadedDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshPatientParticipationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/RefreshPatientParticipationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/RetrieveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadOrSupersedeDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/UploadOrSupersedeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IPCEHRService" type="i0:IPCEHRService">
    <wsp:PolicyReference URI="#WSHttpBinding_IPCEHRService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GainAccessEmergency">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessEmergency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GainAccessWithCode">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessWithCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GainAccessWithOutCode">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GainAccessWithOutCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeHistoryView">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetChangeHistoryView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentList">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListFilterDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListFilterDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListFilterStatusAndDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListFilterStatusAndDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListWithQuery">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListWithQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListActive">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentListActiveFilterDates">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetDocumentListActiveFilterDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualOperationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetIndividualOperationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUploadedDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetLocalUploadedDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetOperationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueuedOperationList">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetQueuedOperationList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetView">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/GetView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPcehrAdvertised">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/IsPcehrAdvertised" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUploadedDocuments">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/ListUploadedDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshPatientParticipationStatus">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/RefreshPatientParticipationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/RetrieveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadOrSupersedeDocument">
      <soap12:operation soapAction="http://schemas.HIPS/Services/2012/01/IPCEHRService/UploadOrSupersedeDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPcehrServiceV2" type="i1:IPcehrServiceV2">
    <wsp:PolicyReference URI="#NetTcpBinding_IPcehrServiceV2_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RefreshPatientParticipationStatus">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/RefreshPatientParticipationStatus" style="document" />
      <wsdl:input name="RefreshPatientParticipationStatusRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshPatientParticipationStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadOrSupersedeDischargeSummaryLevel1A">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/UploadOrSupersedeDischargeSummaryLevel1A" style="document" />
      <wsdl:input name="UploadDischargeSummaryLevel1ARequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadDischargeSummaryLevel1AResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsPcehrAdvertisedLocal">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/IsPcehrAdvertisedLocal" style="document" />
      <wsdl:input name="IsPcehrAdvertisedLocalRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsPcehrAdvertisedLocalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPathologyReportView">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetPathologyReportView" style="document" />
      <wsdl:input name="GetPathologyReportViewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPathologyReportViewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDiagnosticImagingReportView">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetDiagnosticImagingReportView" style="document" />
      <wsdl:input name="GetDiagnosticImagingReportViewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDiagnosticImagingReportViewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHealthRecordOverview">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetHealthRecordOverview" style="document" />
      <wsdl:input name="GetHealthRecordOverviewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetHealthRecordOverviewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IPcehrServiceV2" type="i1:IPcehrServiceV2">
    <wsp:PolicyReference URI="#WSHttpBinding_IPcehrServiceV2_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RefreshPatientParticipationStatus">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/RefreshPatientParticipationStatus" style="document" />
      <wsdl:input name="RefreshPatientParticipationStatusRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RefreshPatientParticipationStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadOrSupersedeDischargeSummaryLevel1A">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/UploadOrSupersedeDischargeSummaryLevel1A" style="document" />
      <wsdl:input name="UploadDischargeSummaryLevel1ARequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadDischargeSummaryLevel1AResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsPcehrAdvertisedLocal">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/IsPcehrAdvertisedLocal" style="document" />
      <wsdl:input name="IsPcehrAdvertisedLocalRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="IsPcehrAdvertisedLocalResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HiServiceFaultFault">
        <soap12:fault use="literal" name="HiServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPathologyReportView">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetPathologyReportView" style="document" />
      <wsdl:input name="GetPathologyReportViewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPathologyReportViewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDiagnosticImagingReportView">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetDiagnosticImagingReportView" style="document" />
      <wsdl:input name="GetDiagnosticImagingReportViewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDiagnosticImagingReportViewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHealthRecordOverview">
      <soap12:operation soapAction="http://nehta.hips/2014/03/pcehr/IPcehrServiceV2/GetHealthRecordOverview" style="document" />
      <wsdl:input name="GetHealthRecordOverviewRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetHealthRecordOverviewResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequestFaultFault">
        <soap12:fault use="literal" name="InvalidRequestFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ServiceOperationFaultFault">
        <soap12:fault use="literal" name="ServiceOperationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserFaultFault">
        <soap12:fault use="literal" name="InvalidUserFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PcehrServiceFaultFault">
        <soap12:fault use="literal" name="PcehrServiceFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ItemNotFoundFaultFault">
        <soap12:fault use="literal" name="ItemNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCEHRService">
    <wsdl:port name="NetTcpBinding_IPCEHRService" binding="tns:NetTcpBinding_IPCEHRService">
      <soap12:address location="net.tcp://localhost:52000/HIPS.Service.PCEHRService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:52000/HIPS.Service.PCEHRService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Angus.Millar@digitalhealth.gov.au</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IPCEHRService" binding="tns:WSHttpBinding_IPCEHRService">
      <soap12:address location="http://localhost:52500/PCEHRService/HIPS.Service.PCEHRService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:52500/PCEHRService/HIPS.Service.PCEHRService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPcehrServiceV2" binding="tns:NetTcpBinding_IPcehrServiceV2">
      <soap12:address location="net.tcp://localhost:52000/HIPS.Service.PCEHRServiceV2" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:52000/HIPS.Service.PCEHRServiceV2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Angus.Millar@digitalhealth.gov.au</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IPcehrServiceV2" binding="tns:WSHttpBinding_IPcehrServiceV2">
      <soap12:address location="http://localhost:52500/PCEHRService/HIPS.Service.PCEHRServiceV2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:52500/PCEHRService/HIPS.Service.PCEHRServiceV2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>